# Site settings
title: YutaKishimoto
url: "https://yutakishimoto.github.io"
baseurl: ""

email: k.yuta38@gmail.com
description: works
twitter_username: yuta_ksmt
github_username: YutaKishimoto
minimal_mistakes_skin: "dark"
search: true

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   : "Yuta Kishimoto"
  avatar : "/assets/images/bio-photo.jpg"
  bio    : "music"
  links:
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/yuta_ksmt"
    - label: "YouTube"
      icon: "fab fa-fw fa-youtube"
      url: "https://www.youtube.com/@yutakishimoto"
    - label: "more links"
      icon: "fas fa-fw fa-link"
      url: "https://lit.link/en/YutaKishimoto"

footer:
  links:
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/"
    - label: "YouTube"
      icon: "fab fa-fw fa-youtube"
      url: "https://www.youtube.com/@yutakishimoto"
    - label: "more links"
      icon: "fas fa-fw fa-link"
      url: "https://lit.link/en/YutaKishimoto"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

collections:
  albums:
    output: true
    permalink: /music/:project/albums/:title/
  songs:
    output: true
    permalink: /music/:project/songs/:title/

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
